@media screen { * , *:after,*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;	} }* {margin: auto; padding: auto;}
html { font-size: 62.5%; } /*base sizee*/
body { font-size: 1.4rem; } /* =14px all type sizes are relative to the base size*/